h1{
text-decoration: underline;
}

body {
    background-color: grey;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.container {
    display: grid;
    grid-template-columns:
        repeat(2, 210px);
    grid-column-gap: 10px;
    justify-content: center;
}

.red {
    background: #ffabab;
}

.green {
    background: #bffcc6;
}

.blue {
    background: #ace7ff;
}

.yellow {
    background: #ffffb0;
}

.red,
.green,
.blue,
.yellow {
    width: 200px;
    height: 200px;
    cursor: grab;
    border-radius: 20px;
    margin: 10px;
}

.opaque {
    background: grey;
    transition: 1s;
}